@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,700;1,400&display=swap");
$white: #fdfffc;
$dark-blue: #011627;
$bleu: #bcced2;
$saphire: #09678c;
$green: #21dd9b;
$almond: #fbf0cd;

// @keyframes navFadeIn {
//   0% {
//     opacity: 0;
//     //   transform: translateY(50px);
//   }
//   50% {
//     transform: translate(0);
//   }
//   100% {
//     opacity: 1;
//   }
// }
// @keyframes fadeIn {
//   0% {
//     opacity: 0;
//     transform: translateY(50px);
//   }
//   50% {
//     transform: translate(0);
//   }
//   100% {
//     opacity: 1;
//   }
// }

// .nav-appear {
//   opacity: 0;
//   /* here we include the animation name */
//   animation-name: navFadeIn;
//   /* set a duration and delay */
//   animation-duration: 1s;
//   animation-delay: 2s;
//   /* make sure the end state stays the same */
//   animation-fill-mode: forwards;
// }
// .appear {
//   /* here we set the opacity as a starting point*/
//   opacity: 0;
//   /* here we include the animation name */
//   animation-name: fadeIn;
//   /* set a duration and delay */
//   animation-duration: 2s;
//   animation-delay: 1s;
//   /* make sure the end state stays the same */
//   animation-fill-mode: forwards;
// }

body {
  font-family: "Roboto Mono", monospace;
  // text-transform: capitalize;
  color: #011627;
  width: 100%;
  height: 100vh;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;

  transition: background-color 0.5s;
}

.nav-links {
  text-decoration: none;
  font-size: 21px;
  color: #011627;
  padding: 40px;
  cursor: pointer;
}

#nav {
  z-index: 10;
  .home {
    position: fixed;
    top: 0;
    left: 0;
  }
  .projects {
    position: fixed;
    top: 0;
    right: 0;
  }
  .contact {
    position: fixed;
    bottom: 0;
    right: 0;
  }
  .social {
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .selected {
    border-bottom: 3px solid black;
  }
}

.main-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $white;
  color: $dark-blue;
  min-height: 500px;
  max-height: 60vh;
  max-width: 900px;
  padding: 40px;
  border-radius: 3px;
  z-index: 1;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);

  img {
    width: 200px;
    border-radius: 50%;
  }

  h1 {
    padding-top: 20px;
    font-size: 28px;
  }
  p {
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    padding-top: 20px;
    height: 150px;
    max-width: 400px;
    text-align: center;
  }
}

.data-tilt {
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.tilt-b {
  transform: translateZ(80px);
}
.tilt-m {
  transform: translateZ(50px);
}
.tilt-s {
  transform: translateZ(20px);
}

#navigation {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 35px;
  }

  img.larger {
    width: 60px;
  }
}

#projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  padding: 100px;

  .main-projects {
    background-color: $white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: $dark-blue;
    max-width: 300px;
    max-height: 500px;
    border-radius: 3px;
    z-index: 2;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
    padding: 40px;
    text-align: center;
    margin: 20px;

    h3 {
      font-size: 24px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    p {
      padding-bottom: 20px;
      font-style: italic;
      font-weight: 400;
    }
    img {
      // display: block;
      // width: 150px;
      // height: 100px;
      width: 100%;
    }

    button {
      cursor: pointer;
      padding: 10px;
      border: 2px solid black;
    }
    .cta {
      align-self: bottom;
    }
  }
}

.testing {
  transition: all 0.5s;
}

#contact {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;

  .main-contact {
    background-image: url(../assets/contact.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center bottom;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 600px;
    min-width: 600px;

    .form-container {
      position: relative;
      left: -70px;
      top: -135px;
    }

    img {
      width: 200px;
      border-radius: 50%;
    }
    h1 {
      font-size: 21px;
    }

    form {
      font-weight: 400;
      font-size: 14px;
      margin-top: 5px;
      input {
        margin-bottom: 5px;
        // width: 80%;
        height: 20px;
        width: 100%;
        // padding: 10px 5px;
        background: none;
        border: none;
        outline: none;
        border-bottom: solid 2px #bbbfda;
      }
      input::placeholder {
        opacity: 0.3;
      }
      .message {
        resize: none;
        background: none;
        border: none;
        border-bottom: solid 2px $bleu;
        outline: none;
      }
      .message::placeholder {
        opacity: 0.3;
      }
    }
    .submit {
      margin-top: 10px;
      background-color: white;
      color: $dark-blue;
      border: 2px solid $bleu;
      border-radius: 3px;
      transition-duration: 0.4s;
      padding: 5px 10px 5px 10px;
      font-size: 14px;
    }
    .submit:hover {
      background-color: $dark-blue;
      color: white;
    }
  }
}
