@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:500i,700&display=swap");

$white: #fdfffc;
$dark-blue: #011627;
$bleu: #bcced2;
$saphire: #09678c;
$green: #21dd9b;
$almond: #fbf0cd;

body {
  font-family: "Roboto Mono", monospace;
  text-transform: capitalize;
  color: #011627;
  width: 100%;
  height: 100vh;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;

  // transition: background-color 0.5s;
}

.test {
  background-color: red;
  max-width: 200px;
}

.nav-links {
  text-decoration: none;
  font-size: 21px;
  color: #011627;
  padding: 40px;
  cursor: pointer;
}

#nav {
  .home {
    position: fixed;
    top: 0;
    left: 0;
  }
  .projects {
    position: fixed;
    top: 0;
    right: 0;
  }
  .contact {
    position: fixed;
    bottom: 0;
    right: 0;
  }
  .social {
    position: fixed;
    bottom: 0;
    left: 0;
  }
}

.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  background-color: $white;
  color: $dark-blue;
  min-height: 500px;
  width: 60vw;
  height: 80vh;
  border-radius: 3px;
  z-index: 1;
  box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
}

.main-content img {
  width: 200px;
  border-radius: 50%;
}

.main-content h1 {
  padding-top: 20px;
  font-size: 36px;
}
.main-content p {
  font-style: italic;
  font-weight: 00i;
  padding-top: 20px;
  font-size: 24px;
  height: 150px;
  max-width: 500px;
  text-align: center;
}

.data-tilt {
  transform-style: preserve-3d;
  transform: perspective(1000px);
}

.tilt-b {
  transform: translateZ(80px);
}
.tilt-m {
  transform: translateZ(50px);
}
.tilt-s {
  transform: translateZ(20px);
}

#navigation {
  position: fixed;
  bottom: 0;
  left: 0;

  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 35px;
  }

  img.larger {
    width: 60px;
  }
}

#projects {
  display: flex;
  width: 60vw;
  height: 80vh;
  .main-projects {
    background-color: $white;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: $dark-blue;
    width: 350px;
    height: 500px;
    border-radius: 3px;
    z-index: 1;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
    margin: 20px;

    h3 {
      font-size: 28px;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    p {
      padding-bottom: 20px;
    }
    img {
      width: 100px;
      display: block;
    }
    button {
      cursor: pointer;
      padding: 10px;
      border: 2px solid black;
    }
  }
}

.testing {
  transition: all 0.5s;
}
